.ball_container {
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    margin-top: 50px
}
/* 645 ball */
.ball_645 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #fff;
    font-weight: 500;
    margin-top: 100px;
    min-width: 100px;
    margin-right: 15px;

}

.ball_645.lrg {
    width: 100px;
    height: 100px;
    line-height: 56px;
    font-size: 50px;
    padding-top:15px;
}
.ball_645.sml {
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 13px;
}
.ball_645.not {
    color: #777;
}
.ball_645.sml.not {
    font-weight: 300;
}
.ball_645.ball1 {
    background: #fbc400;
    text-shadow: 0px 0px 3px rgba(73, 57, 0, 0.8);
    /* box-shadow:  2px 2px 10px #f6c000; */
    background: radial-gradient(circle at 65% 15%, white 1px,  #FDFAA0 3%,  #f6c000 60%,  #FDFAA0 100%); 
}
.ball_645.ball2 {
    background: #69c8f2;
    text-shadow: 0px 0px 3px rgba(0, 49, 70, 0.8);
    background: radial-gradient(circle at 65% 15%, white 1px,  #7FF9F7 3%,  #69c8f2 60%,  #7FF9F7 100%); 
}
.ball_645.ball3 {
    background: #ff7272;
    text-shadow: 0px 0px 3px rgba(64, 0, 0, 0.8);
    background: radial-gradient(circle at 65% 15%, white 1px,  #FAC0C0 3%,  #ff7272 60%,  #FAC0C0 100%); 

}
.ball_645.ball4 {
    background: #aaa;
    text-shadow: 0px 0px 3px rgba(61, 61, 61, 0.8);
    background: radial-gradient(circle at 65% 15%, white 1px,  #F1F1F1 3%,  #aaa 60%,  #F1F1F1 100%); 

}
.ball_645.ball5 {
    background: #b0d840;
    text-shadow: 0px 0px 3px rgba(41, 56, 0, 0.8);
    background: radial-gradient(circle at 65% 15%, white 1px,  #DBF74C 3%,  #b0d840 60%,  #DBF74C 100%); 
}
.ball_645.ball6 {
    background: #b0d840;
    text-shadow: 0px 0px 3px rgba(41, 56, 0, 0.8);
    background: radial-gradient(circle at 65% 15%, white 1px,  #DBF74C 3%,  #b0d840 60%,  #DBF74C 100%); 
}

table tr td .ball_645.sml {
    margin: 0 3px;
}